
$gold: #bc9f54;

.ratingDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: $gold;

    &>svg {
        fill: $gold;
    }

    &>span {
        margin-left: 3px;
    }
}
