@import '../../../styling/colours.scss';

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: thin solid $grey;
    padding: 20px;
    background-color: white;

    &>*{
        flex: 1 1 auto;
    }
}

.picture {
    flex: 0 70px;
    margin-right: 20px;
}


.subtitle {
    font-size: 0.75rem;
    color: $text-secondary-color;
    text-align: start;
    margin-top: 10px;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}